      body {
        background: url(assets/images/night.jpg) no-repeat center center fixed;
        background-size: cover;
        background-attachment: fixed;
      }

      #storyme-logo {
        font-family: 'Pacifico', cursive;
        font-size: 10vw;
        text-align: center;
        
      }

      #logo {
        margin-bottom: 20px;
      }

      .top-bar, .top-bar ul {
        background: transparent;
        color: white;
      }

      a {
        color: white;
      }

      a:hover {
        color: #68047F;
      }

      #greenteam-logo {
          font-family: 'Inconsolata', monospace;
          font-size: 1em;
          line-height: 0;
          color: green;
          letter-spacing: 2px;
          font-weight: 900; 
      }

      #first-p {
          margin-bottom: 2.7%;
      }

      #second-p {
          margin-top: 0px;
          margin-bottom: 2.1%;
      }

      #third-p {
          margin-top: 0px;
          margin-bottom: 0px;
      }

      .thumbnail  {
        width: 60%;
        border: 0 none;
        box-shadow: none;
      }

      .grid-x {
        text-align: center;
      }