body {
  background: url(../images/night.jpg) no-repeat center center fixed;
  background-size: stretch;
  background-attachment: fixed;
  margin: 30px;
}

#storyme-logo {
  font-family: 'Pacifico', cursive;
  font-size: 10vw;
  
}

#logo {
  margin-bottom: 30px;
  text-align: center;
}

.top-bar, .top-bar ul {
  background: transparent;
  bottom: -350px;
}

.links {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
}

a {
  color: white;
}

a:hover {
  color: #68047F;
}

#greenteam-logo {
    font-family: 'Inconsolata', monospace;
    font-size: 1.8em;
    color: green;
    font-weight: 1200; 
}

#first-p {
    margin-bottom: -20px;
}

#second-p {
    margin-top: 0px;
    margin-bottom: 0%;
}

#third-p {
    margin-top: -22px;
    margin-bottom: 0px;
}

.thumbnail, .story-image {
  width: 60%;
  border: 0 none;
  box-shadow: none;
  position: relative;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
}

.grid-x {
  text-align: center;
}

img {
  opacity: 0.1;
}

img:hover {
  opacity: 1;
}

#imageOne:hover {
  content: url('../images/easter.jpg');
}

#imageTwo:hover {
  content: url('../images/monkey.jpg');
}

#imageThree:hover {
  content: url('../images/santa.jpg');
}

.caption {
    position: absolute;
    text-align: center;
    top: 18%;
    left: 0;
    width: 100%;
    font-size: 2em;
    font-family: 'Amatic SC', cursive;
    color: white !important;
}

.random {
  overflow-y: ;
}

#imageOne:hover {
  content: url('../images/easter.jpg');
}

#imageTwo:hover {
  content: url('../images/monkey.jpg');
}

#imageThree:hover {
  content: url('../images/santa.jpg');
}



/* Story Page */
#storyDiv {
  color: white;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  word-wrap: break-word;
  max-height: auto;
}

.sticky {
  position: fixed;
  top: 90%;
  width: 80%;
  left: 10%;
}

#userInput {
  background: rgba(0,0,0,0.3);
  color: white;
}

#submitSentence {
  padding: 0px, 10px, 10px, 0px;
  height: 40px;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 2px;
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  margin-left: 5px;
}

#submitSentence:hover {
  background-position: right center;
}

#resetBtn {
  padding: 0px, 10px, 10px, 0px;
  height: 40px;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 2px;
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  margin-left: 5px;
}

#resetBtn:hover {
  background-position: right center;
}

/* Login Page */
#nameInput {
  background-color: rgba(0,0,0,0.2);
  border: none;
  color: white;
  height: 40px;
  border-radius: 2px;
}

#formErrorMessage {
  color: white;
}

#submit-button {
  padding: 0px, 10px, 10px, 0px;
  height: 40px;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 2px;
  background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
}

#submit-button:hover {
background-position: right center;
}

#welcomeMessage {
  text-align: center;
  color: red;

}

/* PLAYER SECTION */

.player-list {
  width: 100%;
  line-height: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: rgba(0,0,0,0.2);
  color: white;
  margin-top: 40%;
}

.player-list, .player-list ul {
  list-style-type: none;
}

.player-list ul {
  margin-left: 0;
  margin-bottom: 0;
}

.player-list ul li {
  height: 4.0625rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
  justify-content: space-between;
      -webkit-align-items: center;
           -ms-flex-align: center;
              align-items: center;
}

.player-list li {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.player-list header {
  padding-left: 0.75rem;
  padding-bottom: 0.5rem;
  height: 45px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
       -ms-flex-align: end;
  align-items: flex-end;
  cursor: default;
  background-color: inherit;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 1px solid grey;
}

.player-list li {
  position: relative;

}

.player-list li label {
  color: #0a0a0a;
  font-size: 0.875rem;
  letter-spacing: 0;
  margin: 0;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 1000px) {

  .caption {
    top: 10%;
    font-size: 2em;
  }

}

@media only screen and (max-width: 900px) {

  .caption {
    top: 10%;
    font-size: 2em;
  }
  
}

@media only screen and (max-width: 800px) {

  .caption {
    top: 10%;
    font-size: 1.5em;
  }

}

@media only screen and (max-width: 700px) {

  .caption {
    top: 5%;
    font-size: 1.5em;
  }

  #input-group {
    position: fixed;
    left: 8%;
  }

}

@media only screen and (max-width: 500px) {

  .caption {
    top: 12%;
    font-size: 2em;
  }


}

@media only screen and (max-width: 400px) {

  .caption {
    top: 5%;
    font-size: 2em;
  }

}
